<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% if title %}
            <title>{{title}}. System of components</title>
        {% else %}
            <title>System of components</title>
        {% endif %}
        <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">
    </head>

    <header>
        {% include "navigation.html" %}
        <hr>
    </header>


    <body>
        <h2>Hello {{bd.user}}</h2>
        <div align="right">
            <q>Единственным благом является знание, а единственным злом – невежество</q><br>
            <cite> Азек Ариман, Старший библиарий легиона "Тысячи Сынов" </cite>
        </div>
        {% block content %}

        {% endblock %}
    </body>

    <footer>
        <hr>
        <p>company: {{bd.company}}</p>
        <div>our contacts: __-____-____</div>
	</footer>
</html>