{% extends "base.html"%}
{% import 'macros.html' as macros %}

{% block content %}

{% include "create/universal_template/flush_message.html" %}

<h4> Search: {{type_table}}</h4>
<div>
{% if search_result %}
    {% if type_table == 'Pattern' %}
        {% for pat in search_result %}
            <p>{{ pat.name }}</p>
            {{ macros.show_comps_as_table(pat.component) }}
        {% endfor %}
    {% else %}
        {{ macros.show_comps_as_table(search_result) }}
    {% endif %}
{% endif %}
</div>
{% endblock %}
