{% extends 'base.html' %}


{% block content %}
{% if component %}
    <h4>{{component.__str__()}}</h4>

<div> 
    <p>component use in PCB: </p>
    <ul>
    {% for p in component.pcboards %}
        <li>{{p.pcb.name}}-{{p.pcb.version}}</li>
    {%endfor%}
    </ul>


</div>    
<p>{% include "create/universal_template/flush_message.html"%}</p>
<form name={{title}} action ="" method="POST">
    {{ form.hidden_tag() }}
<table border="1px" >

    <tr>
        <td>Count: {{component.count}}</td>
        <td align="right">{{form.count.label}} {{form.count}}</td>        

            {% if form.count.errors %}
                <td><span class="error">{{ form.count.errors }}</span></td>
            {% endif %}        
    </tr>

    <tr>
        <td>Commentary: {{ component.comment }}</td>
        <td align="right">{{ form.comment.label }} {{ form.comment }}</td>
        
            {% if form.comment.errors %}
                <td><span class="error">{{ form.comment.errors }}</span></td>
            {% endif %}
        
    </tr>

</table>
    <p>Change component: {{ form.submit_change }}</p>
    <p>Delete component: {{ form.submit_delete }}</p>
</form>
{%else%}
<p>That`s component not exist </p>
    <figure class="centred" >
        <img width="50%" src="../static/images/omnissiah.jpg" alt="Omnissiah">
        <figcaption>Ommnissiah with Me!</figcaption>
    </figure>
{%endif%}
{% endblock %}
