{% extends "base.html"%}

{% from "macros.html" import render_component%}


{% block content %}
    <h3>Create assemble of Board</h3>
<form name={{title}}  method="POST" enctype="multipart/form-data">
<table>
    <tr>
        <th>Board</th>
        <th>Elements of board</th>
    </tr>
    <tr>
        <td align="top">
            {{ form.hidden_tag() }}
            {% include "create/universal_template/flush_message.html"%}
	        {% include "create/universal_template/create_form.html" %}
        </td>
        <td>
            {% if prepared_rep_file %}
            <div>
                {% if prepared_rep_file[0] %}
                    <p>existing component </p>
                    <div class="color-text-green">
                        {{ render_component(prepared_rep_file[0]) }}
                    </div>
                {% endif %}
                {% if prepared_rep_file[1] %}
                    <p> not existing component </p>
                    <div class="color-text-red">
                        {{ render_component(prepared_rep_file[1]) }}
                        <a href="{{ url_for('create_component') }}" target="_blank">add component in DB</a>
                    </div>
                {% endif %}
                {% if prepared_rep_file[0] and not prepared_rep_file[1] %}
                    <p align="right" >{{ form.submit_create() }}</p>
                {% endif %}
            </div>
            {% else%}
                {% include "create/create_pcb_parts/make_report_file.html"%}
            {% endif %}
        </td>
    </tr>
</table>
</form>
{% endblock %}