{% extends "base.html"%}

{% block content %}
    <h3>Create Board</h3>

<table>
    <tr>
        <th>Board</th>
        <th>Elements of board</th>
    </tr>
    <tr>
        <td>
            <form name="board"  method="POST" enctype="multipart/form-data">
            {{ form.csrf_token() }}
            {% include "create/universal_template/flush_message.html"%}
	        {% include "create/universal_template/create_form.html" %}
            </form>
        </td>
        <td>
            {% include 'create/create_pcb_parts/make_report_file.html'%}

            {# {% if %}
            {% endif %} #}
        </td>
    </tr>
</table>
{% endblock %}