{% extends "base.html"%}

{% block content %}

<h3>Create Component</h3>
<form name="component" action ="" method="POST" novalidate>
	<div>{{ form.csrf_token() }}</div>

	{% with messages = get_flashed_messages(with_categories=true) %}
  		{% if messages %}
		    <ul class=flashes>
		    {% for category, message in messages %}
		      <li class="{{ category }}">{{ category }}: {{ message }}</li>
		    {% endfor %}
		    </ul>
		{% endif %}
	{% endwith %}


	<table border="0px" cellpadding="5">
		{% for field in form if field.name != 'csrf_token' %}
		<tr>
			{% if field.name == "submit" %}
				<td colspan="2" height="25" align="right">{{ form.submit() }}</td>
			{%else%}
			<td width="75px">{{ field.label() }}</td>
			<td>{{ field() }} </td>
			<td>
				{% for error in field.errors %}
					<div class="error">{{ error }} </div>
				{% endfor %}
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
</form>

<p>If pattern is not exist: <a href="{{ url_for('create_pattern_component') }}"> add pattern </a> </p>

{% endblock %}