<table border="0px" cellpadding="5">
    {% for field in form if field.name != 'csrf_token' %}
    <tr>
        {% if field.name == "submit" %}
            <td colspan="2" height="25" align="right">{{ form.submit() }}</td>
        {% elif field.name == "submit_create" %}
            <td>Check the elements before creating PCB</td>
        {%else%}
            <td>{{ field.label() }}</td>
            <td>{{ field() }} </td>
            <td>{% for error in field.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>