<div class="centred">
    <h3>Create "report file" from P-Cad:</h3>

        <p>Before creating: bring components to the same form in "____.pcb" file:<br>
        Correct pattern, value etc.</p>
    <div>
        <p>open pcb-file in P-CAD 2006 PCB</p>
        <ol type="1">
            <li>menu "File"</li>
            <li>"Report...":</li>
                <ul type="circle">
                    <li>Reports to generate: Bill of Materials(bom) #select#</li>
                    <li>Report Destination: File</li>
                    <li>Style Format: Separated List</li>
                    <li>List Separator: ";"</li>
                </ul>
            </li>
            <li>button "Customize...":
                <ul type="circle">
                    <li>"Format": File Extension: 'csv'</li>
                    <li>"Selection": 'Count', 'RefDes', 'PatternName' 'Value' </li>
                    <li>"Ok"</li>
                </ul>
            </li>
            <li>button "Generate" and "Close"</li>
            <li class='color-text-red'>Open and check created report file, if necessary</li>
            <li class='color-text-red'>Add used board as component in format:<br>
            "Count: 1; RefDes: BRD; PatternName: PCB; Value: name_of_board-vN.N" </li>
        </ol>
    </div>
</div>
